
.centrar-texto{
    text-align: center;
}

.grid{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    /*coloca las dos columnas una debajo de la otra. Sin esto las columnas en el 
    sector CONTACTO(formulario e imagen quedaruian una allado de la otra)*/
}

.column-6{
    margin-top: 0;
    flex:0 0 calc(39%)
}

.column-7{
    margin-top: 0;
    padding: 1rem;
    flex:0 0 calc(39%);
    background: rgb(246,221,204);
background: linear-gradient(90deg, rgba(246,221,204,1) 21%, rgba(253,242,233,1) 59%, rgba(254,249,231,1) 100%);
}

.details-img{
    text-align: center;
}


.title{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    }

.title2{
    font-weight: bold;
}

.p{
 text-align:justify;
 color: white;
}

.btn{
    
    margin-top:50px;
    margin: 1rem;
   
}
.step,.sumary{
    color:white;
}