
.searchEst{
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.buttonSearch{
    color:white;
    background-color: black;
    font-size: 1.5rem;
    padding: 1 rem 0.5rem;
    height: 2.3rem;

}

.inputSearch{
width: 15rem;
margin-right: 1rem;
height: 2.1rem;

}